.network-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #0f172a 0%, #1e3a8a 50%, #0f172a 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.network-svg {
  filter: drop-shadow(0 25px 50px rgba(0, 0, 0, 0.5));
}
.network-container h3{
  color: #fff!important;
}